ENVIRONMENT=development

# JWT Secrets
# Generate with: openssl rand -base64 32
JWT_ACCESS_SECRET="your-secret-here"
JWT_REFRESH_SECRET="your-secret-here"

# Webhook Secret
# Generate with: openssl rand -base64 32
WEBHOOK_SECRET="your-webhook-secret"

# GitLab OAuth Configuration
GITLAB_APP_ID="your-gitlab-app-client-id"
GITLAB_APP_SECRET="your-gitlab-app-client-secret"

# Optional: Used if we're testing with the android emulator to provide the right callback url for oauth
# ANDROID_EMULATOR=true

# Optional: Sentry Error Tracking
# SENTRY_DSN="https://your-sentry-dsn@sentry.io/project-id"
# SENTRY_ORG=
# SENTRY_PROJECT=

# Optional: Expo Push Notifications
# EXPO_ACCESS_TOKEN=
#
# Optional: PostHog analytics
# POSTHOG_PROJECT_TOKEN=
